<center>
    <h1>Sending WhatsApp Messages</h1>
    <br>
    <h2> Sending WhatsApp Message is very simple in PyWhatKit </h2>
</center>
<div style="margin-top: 7%;">
    <script src="static/js/embedder.js?target=https://github.com/Ankit404butfound/kit_website/blob/main/example/sendwhatmsg.py&style=night-owl&showBorder=on&showLineNumbers=on&showFileMeta=on&showCopy=on&fetchFromJsDelivr=on')"></script>
</div>
<div class=parameter-container>
    <h2>The following parameters can be passed</h2>
    <br>
    <ul style="margin-left: 20px;">
        <li><b>Phone_num</b> [string]<i> (required)</i> : Phone number of the person you want to send the message to.</li>
        <li><b>Message</b> [string]<i> (required)</i> : Message you want to send.</li>
        <li><b>Time_hour</b> [int]<i> (required)</i>: Hour of the day you want to send the message.</li>
        <li><b>Time_min</b> [int]<i> (required)</i>: Minute of the hour you want to send the message.</li>
        <li><b>Wait_time</b> [int: 15]<i> (optional)</i>: Time taken by WhatsApp Web to load.</li>
        <li><b>Tab_close</b> [bool: False]<i> (optional)</i>: Close the tab after sending message.</li>
        <li><b>Close_time</b> [int: 3]<i> (optional)</i>: Time after which tab shall be closed.</li>
    </ul>
    <br><br>
    <h2>The following are some common errors</h2>
    <br>
    <ul style="margin-left: 20px;">
        <li><b>CountryCodeException</b>: Check if the phone number passed into the paramter has country code.</li>
        <li><b>Message not getting delivered</b>: Check internet speed and increase wait_time to 30 or above CallTimeException - The web takes some time to load so some delay is required, make sure the seconds left is greater than the wait_time.</li>
    </ul>
</div>